{:source-paths ["src" "resources"]
 :dependencies [[reagent "1.1.1"]
                [re-frame "1.3.0"]
                [day8.re-frame/http-fx "0.2.4"]
                [cljs-ajax "0.8.4"]
                [bidi "2.1.6"]
                [kibu/pushy "0.3.8"]
                [metosin/reitit "0.5.18"]
                [com.andrewmcveigh/cljs-time "0.5.2"]]

 :repositories {"clojars" {:url "https://repo.clojars.org/"}}

 :dev-http {8082 "resources/public"}

 :builds
 {:app {:target :browser
        :output-dir "resources/public/js"
        :asset-path "/js"
        :module-hash-names true
        :modules {:main {:init-fn climate-insight-cljs.core/init}}
        :devtools {:preloads []
                   :http-root "resources/public"
                   :http-port 8082
                   :after-load climate-insight-cljs.core/reload}
        :js-options {:resolve {"mapbox-gl" {:target :global
                                            :global "mapboxgl"}}}
        :compiler-options {:closure-defines {climate-insight-cljs.config/MAPBOX_TOKEN #shadow/env "MAPBOX_API_KEY"
                                             climate-insight-cljs.config/API_URL #shadow/env ["API_URL" :default "http://localhost:8080/api"]}}}

  :test {:target :node-test
         :output-to "target/test/main.js"
         :ns-regexp "-test$"
         :autorun true}

  :karma-test {:target :karma
               :output-to "target/karma-test.js"
               :ns-regexp "-test$"}}} 